/* Injected by webextension/userscript */

nav.post-controls button.like.d-hover,
nav.post-controls button.like:focus {
  color: #2ca7df;
  background: #dceef7;
}

nav.post-controls button.has-like,
.topic-post nav.post-controls button.has-like {
  color: #2ca7df;
}
