/* Injected by webextension/userscript */

#a0 abbr {
  font-size: 0;
  text-decoration: unset;
  cursor: unset;
}

#a0 abbr::after {
  content: attr(title);
  font-size: initial;
}


#a0 abbr + abbr::before {
  content: "· ";
  font-size: initial;
}

/* Improve legibility in the light version of the dictionary
   by replicating font colors from the normal version */

#a0 abbr.d {
  color: #0070c0;
}

#a0 abbr.g {
  color: #a6a6a6;
}

#a0 abbr.c {
  font-style: italic;
  color: #0070c0;
}

#a0 .n2 {
  color: #008000;
}

/* Fix "lema" margin in light version */

#a0 > article[id] > header {
	margin-left: 0.6em;
}
