/* Injected by webextension/userscript */

#a0 abbr {
  font-size: 0;
  text-decoration: unset;
  cursor: unset;
}

#a0 abbr::after {
  content: attr(title);
  font-size: initial;
}


#a0 abbr + abbr::before {
  content: "· ";
  font-size: initial;
}
