/* Injected by webextension/userscript */

#idle {
    height: 50px;
}

#drea23 {
    padding-top: 1.4em;
}

#irae {
    margin: 1.2em 0 0 1em;
    height: unset;
    width: unset;
}

#iasale {
    margin: 1em 1em 0;
    height: unset;
    width: unset;
}

#resultados {
    margin-top: 4.5em;
}

@media all and (min-width: 737px) {
    #resultados {
        margin-top: 0;
    }
}

@media all and (min-width: 841px) {
    #irae {
        margin: .5em 1em;
        height: 65px;
        width: auto;
    }
    #iasale {
        margin: 0 1em;
        height: 100px;
        width: auto;
    }
}

#header {
    display: none;
}

body.dle #main {
    margin-top: -12em !important;
}

#diccionario {
    margin: 0 auto;
    width: unset;
}

.dicc {
    display: none;
}

#patrocinio {
    display: none;
}

#informa {
    display: none;
}

.box {
    padding-bottom: 0 !important;
}
